body, html {
  background: #5D4157; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5D4157 , #A8CABA); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5D4157 , #A8CABA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: rgba(43,123,160,1);
  text-align: center;
  letter-spacing: 0.03em;
  overflow: hidden;
}