html {
  height: 100%;
}

body {
width: 100vw;
height: 100vh;
background: rgb(243,226,199); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 68%, rgba(182,141,76,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(243,226,199,1)), color-stop(68%,rgba(193,158,103,1)), color-stop(100%,rgba(182,141,76,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 68%,rgba(182,141,76,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 68%,rgba(182,141,76,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 68%,rgba(182,141,76,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 68%,rgba(182,141,76,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#b68d4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.boggle {
  margin-top: -2%;
  width: 85%;
  left: 7%;
  position: absolute;
}